.content {
  width: 95.6% !important;
  overflow: overlay;
}

.content::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

.testheader {
  margin-top: 15px;
  margin-left: -70px;
  margin-bottom: 3px;
  text-align: left;
  margin-left: -91px;
  color: #cca0f5;
  font-weight: 400;
  font-size: 14px;
  width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.studentname,
.teachersname,
.dateoftest,
.vathmida,
.taksi {
  margin: 0;
  padding-bottom: 3px;
}

.taksi {
  margin: 0;
  padding: 0;
  width: 350px;
  margin-bottom: 5px;
}

table {
  width: 1190px;
  height: 530px;
}

.content {
  width: 93.6%;
}

th {
  width: 30px;
}

.tablecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  padding: 50px;
  padding-top: 0;
  padding-bottom: 0;
}

.gradepaperbuttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 300px;
  height: 50px;
  margin-bottom: 18px;
  margin-top: 23px;
}

.btndel,
.btnedit {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  height: 35px;
  margin: 5px;
  color: #242424;
  font-size: 13px;
  background: #ffffff;
  border: solid #cca0f5 2px;
  text-decoration: none;
  text-align: center;
  transition-duration: 0.33s;
  cursor: pointer;
}

.btndel:hover,
.btnedit:hover {
  background: #cca0f5;
  text-decoration: none;
}
