body {
  font-family: Georgia, serif;
  font-size: 10pt;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.btn-list,
.tableinfoheader {
  display: none;
}

ul {
  list-style-type: none;
  text-indent: -2em;
}

li {
  align-items: left;
}

.glass {
  height: 95vh;
  width: 80%;

  display: flex;
  margin: 1rem;
  justify-content: center;
}

.col1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 18%;
  height: 100%;
  align-items: left;
  text-align: left;
}

.col1 > div {
  margin: 3%;
}

col2 {
  padding-left: 5px;
}

table {
  width: inherit;
  height: 75%;
}

thead {
  height: 30px;
}

tbody {
  width: 80%;
}

select {
  width: 120px;
}

tr {
  padding: 8px;
}

td {
  width: 30px;
  padding: 8px;
}

.additionalBtns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 8px;
  align-items: center;
  height: 60px;
}

#telikoText {
  width: 155px;
  text-align: center;
}

#telikosVathmos {
  width: 58px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  /* needed for Firefox: */
  overflow: hidden;
  white-space: normal;
  width: 70px;
  color: black;
  text-align: center;
  overflow-wrap: break-word;
}

input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  /* needed for Firefox: */
  overflow: hidden;
  white-space: normal;
  width: 40px;
  color: black;
  text-align: center;
  overflow-wrap: break-word;
}
